/**
 * Backgrounds
 *
 */

.bg-image {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}
.bg-image_cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
