/**
 * Buttons
 *
 */

.btn {

    &.hover-primary {
        &:hover,
        &:focus {
            color: #fff;
            background-color: $brand-primary;
            border-color: $brand-primary;
        }
    }
    &.hover-navy {
        &:hover,
        &:focus {
            color: #fff;
            background-color: $brand-navy;
            border-color: $brand-navy;
        }
    }
}

// btn offer
.btn-offer {
    position: relative;

    &:before {
        content: "";
        width: 20px;
        height: 20px;
        background-image: url(../images/offer-i.png);
        display: inline-block;
        margin-right: .5rem;
        vertical-align: text-bottom;
    }
}

// btn link
.btn-link {
    padding: 0;
    text-decoration: none;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $brand-primary;
        transform-origin: left;
        transform: scaleX(.5);
        transition: transform .6s cubic-bezier(.19, 1, .22, 1), visibility 0s;
        margin-top: 5px;
    }
    &:hover::after {
        transform: scaleX(1);
        transition-duration: .4s, 0s;
        transition-delay: 0s, .4s;
    }
    &:hover,
    &:focus {
        text-decoration: none;
    }
    &.text-primary::after {
        background-color: $brand-primary;
    }
    &.text-gold::after {
        background-color: $brand-gold;
    }
    &.text-navy::after {
        background-color: $brand-navy;
    }
    &.text-dark::after {
        background-color: $brand-dark;
    }
    &.text-white::after {
        background-color: $brand-white;
    }
    &.btn-link_center::after {
        transform-origin: initial;
    }
}

// buttons
.btn-primary,
.btn-navy,
.btn-dark,
.btn-gold,
.btn-light {
    text-transform: uppercase;
    padding: 1.375rem 2.5rem; /* 22/16 */ /* 40/16 */
    min-width: 17.5rem; /* 280/16 */
    font-weight: bold;
    border-radius: 5px;


    &:focus {
        box-shadow: none;
    }

    &:hover,
    &:focus {
        color: $brand-dark;
        background-color: $brand-gold;
        border-color: $brand-gold;
        box-shadow: none;
    }
}
.btn-gold {
    &:hover,
    &:focus {
        color: $brand-white;
        background-color: $brand-dark;
        border-color: $brand-dark;
    }
}

// btn wide
.btn-wide {
    min-width: 23.75rem; /* 380/16 */
}
.btn-narrow {
    min-width: 0;
    padding: 1.375rem 1.5rem;
}
