/**
 * Forms
 *
 */

// form control
.form-control,
.custom-select {
    padding: 0;
    border: 0;
    border-bottom: 3px solid $brand-gray-100;

    &:focus {
        box-shadow: none;
        border-color: $brand-gray-100;
    }
    &,
    &::placeholder {
        color: $brand-gray-200;
    }
}

// custom select
.custom-select {
    appearance: none;

    background-image: url(../images/chevron-down-i.svg);
    background-repeat: no-repeat;
    background-position: 99% center;
    background-size: auto 12px;
}
.filter-select {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    height: auto;
}

// custom checkbox
.custom-checkbox {
    padding-left: 1.25rem; /* 20/16 */

    .custom-control-label:after,
    .custom-control-label:before {
        width: 1.25rem; /* 20/16 */
        height: 1.25rem; /* 20/16 */
        left: -2.25rem; /* 36/16 */
        top: .15rem;
    }
    .custom-control-label:before {
        background-color: transparent;
        border: 3px solid $brand-dark;
    }
    .custom-control-input:checked~.custom-control-label:before {
        background-color: transparent;
    }
    .custom-control-input:checked~.custom-control-label:after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E")
    }
    .custom-control-input:focus~.custom-control-label:before {
        box-shadow: none;
    }

    // contact form 7 custom checkboxes
    .wpcf7-list-item {
        label {
            margin-bottom: 0;
        }
        .wpcf7-list-item-label {
            @extend .custom-control-label;

            &:before,
            &:after {
                top: -.15rem;
            }
        }
        input[type=checkbox] {
            @extend .custom-control-input;
        }
    }
}


// contact form 7
.wpcf7 {

    .wpcf7-not-valid-tip {
        display: none;
    }
    .wpcf7-not-valid {
        border-color: red;
    }
    .wpcf7-validation-errors {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    .input-wrapper {
        position: relative;
        overflow: hidden;
        display: block;

        &:before {
            content: "";
            height: 3px;
            width: 100%;
            display: block;
            background-color: $brand-primary;
            position: absolute;
            bottom: 0;
            -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
        }
        &.focused::before {
            transform: translatez(0);
        }
        // &.invalid .form-control,
        // &.invalid .custom-select {
        //     border-color: red;
        // }
        // &.valid .form-control,
        // &.valid .custom-select {
        //     border-color: green;
        // }

        &::before,
        &.focused::before {
        // &.invalid::before,
        // &.valid::before {
            transition: transform .5s;
        }
    }
}


// Search form
.search-form {
    @extend .form-inline;

    label {
        font-weight: normal;
        @extend .form-group;
    }
    .search-field {
        @extend .form-control;
    }
    .search-submit {
        @extend .btn;
        @extend .btn-secondary;

        .explore-eq-search & {
            color: $brand-primary;
            text-transform: uppercase;
            background-color: transparent;
            border: 0;
            padding: 0;

            &::before {
                @extend .fa;
                @extend .fa-search:before;
                color: $brand-dark;
                font-size: 18px;
                margin-right: .5rem;
            }
        }
    }
}
