/**
 * Modal
 *
 */


.modal-header {
    #newsletterSignup & {
        border-bottom: 0;
    }
    .close {
        #newsletterSignup & {
            position: absolute;
            top: 0;
            right: 0;
            margin: -.5rem;
        }
    }
}
.modal-dialog {
    #newsletterSignup & {
        max-width: 880px;
    }
}
.modal-title {
    #newsletterSignup & {
        line-height: 1.1;
    }
}
.modal-body {
    padding: 1rem 10% 5%;
}
