/**
 * Navbar
 *
 */

.navbar {
    padding: 0;
    @include media-breakpoint-up(lg) {
        padding: 1.6875rem; /* 27/16 */
    }
}

// navbar brand
.navbar-brand {
    @include media-breakpoint-down(md) {
        max-width: 6.1875rem; /* 99/16 */
    }
    @include media-breakpoint-up(lg) {
        max-width: 11.6875rem; /* 187/16 */
    }
}

// navbar bar
.navbar-bar {
    @include media-breakpoint-down(md) {
        padding: 0.75rem 1rem; /* 12/16 */
    }
}

// navbar nav
.navbar-nav {

    // nav item
    .nav-item {
        @include media-breakpoint-up(lg) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    // nav link
    .nav-link {
        font-size: 14px;
        color: $brand-dark;
        text-transform: uppercase;

        &:after {
            @include media-breakpoint-up(lg) {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: $brand-primary;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform .6s cubic-bezier(.19, 1, .22, 1), visibility 0s;
                margin-top: 5px;
            }
        }
        &:hover:after {
            @include media-breakpoint-up(lg) {
                transform-origin: left;
                transform: scaleX(1);
                transition-duration: .4s, 0s;
                transition-delay: 0s, .4s;
            }
        }
    }

    // active nav link
    .active .nav-link {
        color: $brand-primary;

        @include media-breakpoint-up(lg) {
            &:after {
                transform: scaleX(1);
            }
        }
    }

    // dropdown toggle
    .dropdown-toggle {
        display: inline-block;
        position: relative;

        &:after {
            @extend .fa;
            @extend .fa-angle-down:before;
            font-size: 18px;
            vertical-align: middle;

            @include media-breakpoint-down(md) {
                padding-left: 1.25rem; /* 20/16 */
            }
            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }

    // dropdown menu
    .dropdown-menu {
        border: 0;
        margin-top: 0;

        @include media-breakpoint-down(md) {
            padding: 0;
        }
        @include media-breakpoint-up(lg) {
            padding: 1rem 0;
        }

        .nav-item {
            padding-left: 0;
            padding-right: 0;
        }
    }
        .dropdown-item {
            font-size: 14px;
            text-transform: uppercase;
            padding: .5rem 1.5rem;

            &:hover,
            &:focus {
                color: $brand-primary;
                background-color: transparent;
            }
        }
}

// navbar collapse
.navbar-collapse {
    @include media-breakpoint-down(md) {
        border-top: 1px solid #ccc;
    }
}

// navbar search
.navbar-search {
    .search-form {
        position: relative;
        padding: 0;

        .search-submit {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            @extend .text-hide;

            &:before {
                @extend .fa;
                @extend .fa-search:before;
                font-size: 20px;
                color: #333;
            }
        }
        .search-field {
            border: 0;
            background-color: $brand-light;
            border-radius: 5px;
            padding-left: 2.5rem;
        }
    }
}

// navbar toggler
.navbar-toggler {
    padding: 0;
    position: relative;
    display: block;
    width: 28px;
    height: 28px;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    border: 0;

    &:hover,
    &:focus {
        outline: none;
    }
}
/* navbar toggler icon */
.navbar-toggler-icon {
    &,
    &:before,
    &:after {
        position: absolute;
        display: inline-block;
        height: 3px;
        width: 28px;
        background: $brand-dark;
        border-radius: 0;
    }

    & {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: 0;
        transition: background .2s;
    }
    &:before {
        top: -8px; /* 10/20 */
    }
    &:after {
        top: 8px; /* 10/20 */
    }
    &:before,
    &:after {
        content: '';
        right: 0;
        transform: translateZ(0);
        backface-visibility: hidden;
        transform-origin: 0% 50%;
        transition: transform .2s;
    }

    /* nav is visible */
    .nav-is-visible & {
        background: transparent;
    }
    .nav-is-visible &:before {
        transform: translateX(4px) translateY(-2px) rotate(45deg);
    }
    .nav-is-visible &:after {
        transform: translateX(4px) translateY(2px) rotate(-45deg);
    }
}
