/**
 * Plugins
 *
 */

//
// SLICK SLIDER
//

.slick-slide {
    display: none;
}
.slick-initialized,
.slick-slide:first-child {
    display: block;
}

.slick-list,
.slick-track,
.slick-slide>div {
    .hero-slider & {
        height: 100%;
    }
}

// slick slider
.slick-slider {
    &.image-gallery__thumbnails {
        padding-left: 20px;
        padding-right: 20px;
    }
}

// slick arrows
.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 1rem;
    width: 4rem;
    z-index: 10;

    background: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;

    @extend .fa;
    @extend .text-hide;

    &:before {
        @extend .fa;
        font-size: 3.125rem; /* 50/16 */
        color: #000;

        .image-gallery__thumbnails & {
            font-size: 2rem;
            color: #333;
        }
    }
    &:focus {
        outline: none;
    }
    &:hover:before {
        color: $brand-primary;
    }
    &.slick-disabled {
        opacity: .25;
    }

    // image gallery thumbnails
    .image-gallery__thumbnails & {
        padding: 0;
        width: 20px;
        height: 100%;
        line-height: 0;
        opacity: 1;
        background-color: $brand-gold;
    }
}

// slick prev
.slick-prev {
    left: -4rem;

    &:before {
        @extend .fa-angle-left:before;
    }

    .image-gallery__thumbnails & {
        left: 0;
    }
}

// slick next
.slick-next {
    right: -4rem;

    &:before {
        @extend .fa-angle-right:before;
    }

    .image-gallery__thumbnails & {
        right: 0;
    }
}

// slick dots
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;

    .hero-slider__copy & {
        display: block;
        left: 0;
        text-align: left;
        padding: 0 3rem 1rem;
        bottom: 0;

        @include media-breakpoint-down(md) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}
.slick-dots li {
    position: relative;

    display: inline-block;

    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 10px;
    height: 10px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;

    .hero-slider__copy & {
        background-color: #fff;
        border: 1px solid #fff;
    }
}
.slick-dots li.slick-active button:before {
    background-color: $brand-primary;

    .hero-slider__copy & {
        background-color: transparent;
    }
}

// CONTACT FORM 7
.wpcf7-form {
    br {
        display: none;
    }
}
.wpcf7-response-output {
    text-align: center;
}

// INSTAGRAM FEED
.sbi_load_btn {
    @extend .btn;
    @extend .btn-link;
    @extend .btn-link_center;
    @extend .text-uppercase;
    @extend .text-gold;
}
