/**
 * Footer
 *
 */

.site-footer {
    position: relative;

    // nav
    .nav {
        a,
        .nav-link {
            color: #fff;
            padding: .5rem 0;
            font-size: 12px;

            &:hover,
            &:focus {
                color: $brand-primary;
            }
        }
    }

    // social
    .social a {
        color: $brand-white;

        &:hover,
        &:focus {
            color: $brand-primary;
        }

        .fa {
            font-size: 25px;
            color: inherit;
        }
    }
}
