/**
 * Hero
 *
 */

// hero slider
.hero-slider {
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/home_slide_mask.png);
        background-size: contain;
        background-position: bottom center;
        background-repeat: no-repeat;
        opacity: .5;
    }

    .page-template-page-home &{
        border: 1px solid #fff;
    }
}
.hero-slider__slides {
    .section-image {
        display: block !important;
    }
}
.hero-slider__copy {
    color: #fff;
    z-index: 10;

    @include media-breakpoint-down(md) {
        background-color: $brand-dark;
        position: relative;
        padding: 1.5rem
    }
    @include media-breakpoint-up(lg) {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        padding: 1.5rem 3rem;
    }

    h2 {
        @include media-breakpoint-down(md) {
            font-size: 1.875rem; /* 30/16 */
        }
    }
}

// hero ctas
.hero-cta {
    border: 1px solid #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
}
.hero-cta__icon {
    @include media-breakpoint-down(md) {
        width: 45px;
        margin-right: 1rem;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 1rem;
        width: 30%;
    }
}
.hero-cta__title {
    @include media-breakpoint-down(md) {
        font-size: 1rem;
    }
    @include media-breakpoint-up(lg) {
        font-size: 1.375rem; /* 22/16 */
    }
}
