/**
 * Pages
 *
 */

// separator
.sep {
    border-bottom: 3px solid $brand-dark;

    &.sep-primary {
        border-color: $brand-primary;
    }
    &.sep-navy {
        border-color: $brand-navy;
    }
}

// page header
.page-header {
    position: relative;
    background-color: $brand-dark;

    &.has-post-thumbnail {
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../images/banner-gradient.png);
            background-position: bottom center;
            background-repeat: repeat-x;
            background-size: cover;
            opacity: .5;
        }

        @include media-breakpoint-down(md) {
            padding-top: 56.25%;
            height: 0;
        }
        @include media-breakpoint-up(lg) {
            height: 600px;
        }
    }
}
    .page-title-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        z-index: 10;
    }
        .page-title {
            color: $brand-white;
            text-transform: uppercase;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

// page content
.page-content {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

//
// CARDS GRID
//
.cards-grid {
    position: relative;
    overflow: hidden;

    .white-underlay {
        display: block;
        height: 200px;
        width: 100%;
        position: absolute;
        background-color: #fff;
        top: 0;
        left: 0;
    }

    &:before {
        content: "";
        display: block;
        width: 485px;
        height: 1000px;
        position: absolute;
        top: 400px;
        right: 0;
        background-image: url(../images/watermark.png);
        background-repeat: no-repeat;
    }
    &.decor-top::before {
        top: 0;
    }
    &.decor-top-most::before {
        top: -200px;
    }
}

//
// Image Gallery
//
.image-gallery {
    position: relative;
}
.image-gallery__images {
    position: relative;
}
.image-item {
    padding-top: 66%;
    background-color: $brand-dark;
    height: 0;
    position: relative;
    display: block !important;
}
.thumbnail-item {
    padding-top: 64%;
    background-color: $brand-dark;
    height: 0;
    position: relative;
}

//
// INSTAGRAM GALLERY
//
.instagram-image {
    position: relative;
    padding-top: 100%;
    height: 0;
    background-color: #ccc;
}
