/**
 * Posts
 *
 */

// single header
.single-header {
    background-color: $brand-dark;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
    .single-title {
        color: $brand-white;
    }

// single content
.single-content {
    margin-top: 5rem;
    margin-bottom: 5rem;
}


//
// ENTRY
//
.entry {
    border-top: 3px solid $brand-gold;
    padding-top: 1rem;
    margin-bottom: 2rem;
}
// entry header
.entry-header {
    margin-bottom: 1rem;
    .entry-meta,
    .entry-category {
        font-size: 12px;
        text-transform: uppercase;
        display: block;

        a {
            color: $brand-dark;

            &:hover,
            &:focus {
                color: $brand-primary;
            }
        }
    }
}
    .entry-title {
        font-size: 1.25rem; /* 20/16 */

        &, a {
            color: $brand-dark;
        }
    }

//
//  Posts Navigation
//

.posts-navigation {
    margin-top: 4rem;

    .nav-links {
        @extend .d-lg-flex;
        a {
            @extend .btn;
            @extend .btn-primary;
            margin-bottom: 1rem;
        }
        .nav-next {
            @extend .ml-lg-auto;
        }
    }
}

//
//  ENTRY CARD
//
.entry-card,
.entry-card-alt {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    margin-bottom: 30px;
}
.entry-card-thumbnail {
    position: relative;
    padding-top: 52.63%;
    height: 0;
    background-color: $brand-dark;
}
.entry-card-content {
    padding: 1rem;
}
.entry-card-title {
    font-size: 1.4375rem; /* 23/16 */
    text-transform: uppercase;

    &, a {
        color: $body-color;
    }
}
.entry-card-subtitle {
    font-size: 12px;
    text-transform: uppercase;
}
.entry-card-date {
    border: 1px solid $brand-dark;
    margin-right: 1rem;
    border-radius: 5px;
}
    .entry-card-date__month {
        font-size: 12px;
        line-height: 1;
        margin: 0;
        border-bottom: 1px solid $brand-dark;
        padding: .25rem .6rem;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .entry-card-date__days {
        font-size: 1.25rem; /* 20/16 */
        line-height: 1;
        padding: .25rem .6rem;
        margin: 0;
        white-space: nowrap;
    }
.entry-card-summary {
}
.entry-card-footer .btn {
    border-radius: 0;
}
