/**
 * Sections
 *
 */

// section image
.section-image {
    position: relative;
    background-color: $brand-dark;
    padding-top: 56.25%;
    height: 0;
}

//
// Booking Enquiry Section
//
.booking-enquiry-section {
    .form-container {
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding-top: 5rem;
        border-top: 3px solid $brand-navy;
    }
}
