/**
 * Global
 *
 */

html {
    font-size: 16px;

    @include media-breakpoint-down(md) {}
    @include media-breakpoint-up(lg) {}
    @include media-breakpoint-up(xl) {}
    @include media-breakpoint-up(xxl) {}
}

//
// Typography
//
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {}

dl, ol, ul {
    padding-left: 1rem;
}

h1, .h1 {
  margin-top: 0;

    @include media-breakpoint-down(md) {
        font-size: 2rem; /* 32/16 */
    }
    @include media-breakpoint-up(lg) {
        font-size: 3.25rem; /* 52/16 */
    }
}
h2, .h2 {
    @include media-breakpoint-down(md) {
        font-size: 1.75rem; /* 28/16 */
    }
    @include media-breakpoint-up(lg) {
        font-size: 2.875rem; /* 46/16 */
    }
}
h3, .h3 {
    @include media-breakpoint-down(md) {
        font-size: 1.5625rem; /* 25/16 */
    }
    @include media-breakpoint-up(lg) {
        font-size: 2.5625rem; /* 41/16 */
    }
}
h4, .h4 {
    @include media-breakpoint-down(md) {
        font-size: 1.375rem; /* 22/16 */
    }
    @include media-breakpoint-up(lg) {
        font-size: 2.25rem; /* 36/16 */
    }
}
h5, .h5 {
    @include media-breakpoint-down(md) {
        font-size: 1.25rem; /* 20/16 */
    }
    @include media-breakpoint-up(lg) {
        font-size: 2rem; /* 32/16 */
    }
}
h6, .h6 {
    @include media-breakpoint-down(md) {
        flex: 1.125rem; /* 18/16 */
    }
    @include media-breakpoint-up(lg) {
        font-size: 1.375rem; /* 22/16 */
    }
}
//
// Links
//
a {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

//
// Containers
//
// .container-fluid {
//     max-width: 1480px;
// }
.container {
    @include media-breakpoint-up(xl) {
        max-width: 1200px;
    }
}
