/**
 * Variables
 *
 */

/* icon path */
$icon-font-path:            "../fonts/";

/* theme font */
$font-family-base: 'Muli', sans-serif;

//
// Themes Color
//
$brand-primary: #0EA1B8; // brand teal
$brand-navy: #043868; // brand navy
$brand-gold: #B0A696; // brand gold
$brand-dark: #333333; // brand dark
$brand-light: #F1F1F1; // brand light
$brand-white: #ffffff; // brand white
$brand-gray-100: #979797; // brand gray 100
$brand-gray-200: #939393; // brand gray 200

$theme-colors: (
  primary: $brand-primary,
  dark: $brand-dark,
  light: $brand-light,
  navy: $brand-navy,
  gold: $brand-gold,
  gray-100: $brand-gray-100,
) !default;

//
// Break Point
//
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1800px
) !default;


/* body background */
$body-bg: #fff;

/* body text color */
$body-color: #333;

/* enable rounded */
$enable-rounded: false;

/* enable carret */
$enable-caret: false;
